name: Tests

on:
  push:
    branches: [main]
    paths-ignore: ["**/*.md", docs/**]
  pull_request:
    branches: [main]
    paths-ignore: ["**/*.md", docs/**]
  workflow_dispatch:
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    # prevent this action from running on forks
    if: github.repository == 'Molara-Lab/Molara'
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        version:
          - { python: "3.10", resolution: lowest-direct, extra: "tests,crystal,compchem" }
          - { python: "3.14", resolution: highest, extra: "tests,strict,crystal,compchem" }
        include:
          - os: macos-latest
            version: { python: "3.11", resolution: highest, extra: "tests,strict" }
          - os: ubuntu-24.04-arm
            version: { python: "3.13", resolution: highest, extra: "tests,strict" }

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python ${{ matrix.version.python }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.version.python }}
      - name: Set up uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: "**/pyproject.toml"
      - name: Install dependencies
        run: |
          uv pip install -e .[${{ matrix.version.extra }}] --resolution=${{ matrix.version.resolution }} --system
      - name: Install Linux dependencies
        if: runner.os == 'Linux'
        uses: ./.github/actions/install_linux_dependencies
      - name: Run tests
        run: |
          pytest --cov=src --cov-report=xml tests
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5.5.2
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
