name: Wheel installation and testing

on:
  push:
    branches: [main]
    paths-ignore: ["**/*.md", docs/**]
  pull_request:
    branches: [main]
    paths-ignore: ["**/*.md", docs/**]
  workflow_call:

permissions:
  contents: read

jobs:
  test:
    # prevent this action from running on forks
    if: github.repository == 'Molara-Lab/Molara'

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
          cache: pip
          # cache-dependency-path: cython_build.py
      - name: Build wheel and install
        run: |
          python -m pip install build pytest pytest-qt pytest-xvfb
          python -m build
          python -m pip install dist/*.whl "numpy<2"
      - name: Install Linux dependencies
        run: |
          sudo apt update && sudo apt install -y libegl1-mesa-dev
          sudo apt install -y '^libxcb.*-dev' libx11-xcb-dev libglu1-mesa-dev libxi-dev libxkbcommon-dev libxkbcommon-x11-dev
          sudo /usr/bin/Xvfb $DISPLAY -screen 0 1280x1024x24 &
      - name: Run tests
        run: |
          pytest tests
